<html>
    <head>
        <title>welcome to <%= @hostname %>!</title>
        <style type="text/css">
            body {
              background-color: pink;
            }
        </style>
    </head>
    <body>
        <h1>welcome to a fresh new ~ server.</h1>
        <p>This file was generated for you by <a href="https://github.com/nathanielksmith/puppet-tilde">puppet-tilde</a>. Feel free to edit it by hand or set up a <code>cron</code> to generate it from a dynamic source.</p>
    </body>
</html>